.top-panel {
    -fx-background-color: #471d5f;
}

.left-panel {
    -fx-background-color: #592A56;
}

.menu-button {
    -fx-background-color: #be2182;
}

.menu-button:hover {
    -fx-background-color: #e42e9e;
}

.menu-button:pressed {
    -fx-background-color: #be2182;
}

.left-panel-bottom {
    -fx-background-color: #842B77;
}

.left-panel-bottom:hover {
    -fx-background-color: #9e308e;
}

.catalog-panel {
    -fx-background-color: #ffffff;
}