.table-view {
    -fx-background-color: transparent;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-alignment: CENTER;
    -fx-background-color: linear-gradient(to bottom, #ae298fcc,#ffb1b1cc );
    -fx-background-radius: 9px 9px 0px 0px;
    -fx-background-insets: 0 0 0 0;
    -fx-padding: 0 0 0 0;
}

.table-view .column-header {
    -fx-background-color: transparent;


}
.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}
.table-row-cell: hover {
    -fx-background-color: #461d5e;
    -fx-text-background-color: #458B7F;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell: odd {
    -fx-background-color:  #ffb1b1;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell: even {
    -fx-background-color: #ffb1b1cc;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}
.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}
.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  linear-gradient(to bottom, #ae298fcc,#ffb1b1cc);
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to right,#ae298fcc,#ffb1b1cc);
}
.table-row-cell:selected {
    -fx-background-color: #FFF800;
}
.table-row-cell:selected .text {
    -fx-fill: #461d5e ;

}

.table-column {
    -fx-alignment: CENTER;
}